@import url('https://fonts.googleapis.com/css?family=PT+Sans:300, 400,400i');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');

@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('../fonts/proxima_nova_semibold/Mark Simonson - Proxima Nova Semibold-webfont.eot');
  src: url('../fonts/proxima_nova_semibold/Mark Simonson - Proxima Nova Semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima_nova_semibold/Mark Simonson - Proxima Nova Semibold-webfont.woff2') format('woff2'),
  url('../fonts/proxima_nova_semibold/Mark Simonson - Proxima Nova Semibold-webfont.ttf') format('truetype'),
  url('../fonts/proxima_nova_semibold/Mark Simonson - Proxima Nova Semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima Nova/Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
  src: url('../fonts/Proxima Nova/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Proxima Nova/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'),
  url('../fonts/Proxima Nova/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype'),
  url('../fonts/Proxima Nova/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 0;
}

a, button, input[type="submit"], input[type="button"]{
  transition:
  border-color .1s ease-in,
  color .1s ease-in,
  background-color .1s ease-in;
  cursor: pointer;
}

.top-arrow{
  width: 84px;
  height: 84px;
  background-color: rgba(159,154,207, 0.7);
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media screen and (max-width: 799px){
    width: 54px;
    height: 54px;
  }

  &__img{
    display: block;

    @media screen and (max-width: 799px){
      width: 25px;
    }
  }
}

.content-wrapper{
  //width: 1600px;
}

.header{
  background: rgba(10,50,150,0.3)  url("../img/deathtostock-wired7.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1070px;

  @media screen and (max-width: 1023px){
    height: 800px;
  }

  @media screen and (max-width: 799px){
    height: 600px;
  }

  &__top-panel{
    margin: 0 245px 0 245px;
    @media screen and (max-width: 1279px){
      margin: 0 50px 0 50px;
    }
    padding-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 799px){
      align-items: flex-start;
    }
  }
  &__menu{
    width: 570px;

    @media screen and (max-width: 799px){
      width: 200px;
    }

    &__toggle{
      display: none;
      width: 32px;
      margin-left: auto;

      @media screen and (max-width: 799px){
        display: block;
      }

      &__icon{
        color: #fff;
        fill: currentColor;
      }
    }

    &__list{
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 799px){
        flex-direction: column;
        display: none;
        position: absolute;
        top: 50px;
      }
    }
    &__item{
      display: block;
      line-height: 18px;
      color: #ffffff;
      font-family: "Proxima Nova", sans-serif;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;

      @media screen and (max-width: 799px){
        margin: 20px;
        font-size: 30px;
      }
    }
    &__link{
      text-decoration: none;
      color: inherit;
    }
  }
  &__title{
    text-align: center;
    &__main{
      color: #fefefb;
      font-family: "proxima_nova_ltsemibold", sans-serif;
      font-size: 72px;
      font-weight: 700;
      line-height: 60.22px;
      text-transform: uppercase;
      margin: 39px;
      margin-top: 298px;

      @media screen and (max-width: 1279px){
        font-size: 60px;
      }

      @media screen and (max-width: 1023px){
        margin-top: 200px;
      }

      @media screen and (max-width: 799px){
        font-size: 36px;
        margin: 170px 0 0;
      }
    }
    &__add{
      color: #fefdfd;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 30px;
      font-style: italic;
      margin: 39px;

      @media screen and (max-width: 799px){
        margin: 10px;
        font-size: 16px;
      }
    }
  }
}

.about-us{
  padding: 122px 0 120px 0;
  //display: flex;
  background-color: #ebebeb;

  @media screen and (max-width: 1023px){
    padding: 50px 0;
  }

  @media screen and (max-width: 799px){
    padding: 10px 0;
  }

  &__content{
    min-width: 1170px;
    max-width: 1170px;

    @media screen and (max-width: 1279px){
      min-width: 920px;
      max-width: 920px;
    }

    @media screen and (max-width: 1023px){
      min-width: 770px;
      max-width: 770px;
    }

    @media screen and (max-width: 799px){
      flex-direction: column;
      min-width: 100px;
      max-width: 770px;
      padding: 10px 20px;
    }

    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  &__icon{
    min-width: 380px;
    height: 555px;
    background: rgba(10,50,150,0.3) url("../img/deathtostock-wired8.png");
    background-size: cover;

    @media screen and (max-width: 1279px){
      min-width: 342px;
      height: 499.5px;
    }

    @media screen and (max-width: 799px){
      height: 200px;
      min-width: 0px;
    }

    &__item{
      margin: 75px 0 44px;

      @media screen and (max-width: 799px){
        margin: 20px 0 40px;
      }
    }
    &__title{
    }
  }
  &__description{
    padding-top: 58px;

    @media screen and (max-width: 1023px){
      padding-top: 0px;
    }
  }
  &__text{
    margin-left: 123px;
    margin-right: 34px;
    color: #665f60;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;

    @media screen and (max-width: 1279px){
      margin-left: 60px;
    }

    @media screen and (max-width: 1023px){
      margin-left: 34px;
    }

    @media screen and (max-width: 799px){
      margin: 10px;
      font-size: 14px;
      text-align: justify;
    }

  }
  &__button{
    margin-left: 348px;
    margin-top: 73px;
    width: 195px;
    height: 50px;
    border: 1px solid #7d7a7c;
    background-color: #ebebeb;
    color: #7d7a7c;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-style: italic;
    display: block;

    @media screen and (max-width: 1279px){
      margin: 0 auto;
    }
  }
}

.icon{
  text-align: center;
  &__title{
    color: #fefbfc;
    font-family: "Proxima Nova", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 47.13px;
    text-transform: uppercase;
    margin: 0;
  }
}

.services{
  background-color: #ebebeb;

  &__content{
    min-width: 1170px;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;

    @media screen and (max-width: 1279px){
      min-width: 920px;
      max-width: 920px;
    }

    @media screen and (max-width: 1023px){
      flex-direction: column-reverse;
      min-width: 770px;
      max-width: 770px;
    }

    @media screen and (max-width: 799px){
      min-width: 100px;
      max-width: 770px;
      padding: 10px 20px;
    }
  }

  &__table{
    display: flex;
    flex-wrap: wrap;
    max-width: 760px;
    min-width: 760px;

    @media screen and (max-width: 1279px){
      max-width: 600px;
      min-width: 600px;
    }

    @media screen and (max-width: 1023px){
      max-width: 770px;
      min-width: 770px;
    }

    @media screen and (max-width: 799px){
      flex-direction: column;
      max-width: 770px;
      min-width: 100px;

    }

    &__item{
      min-width: 380px;
      max-width: 380px;
      height: 400px;
      text-align: center;

      @media screen and (max-width: 1279px){
        min-width: 300px;
        max-width: 300px;
        height: 315px;
      }

      @media screen and (max-width: 1023px){
        min-width: 385px;
        max-width: 385px;
        height: 315px;
      }

      @media screen and (max-width: 799px) {
        max-width: 770px;
        min-width: 100px;
      }

      &--light{
        background-color: #ebebeb;

        &:nth-child(3){
          @media screen and (max-width: 799px){
            background-color: #dbdbdb;
          }
        }
      }

      &--dark{
        background-color: #dbdbdb;

        &:nth-child(4){
          @media screen and (max-width: 799px){
            background-color: #ebebeb;
          }
        }
      }

      &__image{
        margin-top: 99px;
        @media screen and (max-width: 1279px){
          margin-top: 50px;
        }
      }

      &__title{
        color: #665f60;
        font-family: "PT Sans", sans-serif;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 30px 0 21px;
      }

      &__description{
        color: #665f60;
        font-family: "PT Sans", sans-serif;
        font-size: 18px;
        font-style: italic;
        padding: 0 94px;

        @media screen and (max-width: 1279px){
          padding: 0 20px;
        }
      }
    }
  }

  &__icon{
    max-width: 410px;
    min-width: 410px;
    height: 800px;
    background: rgba(10,50,150,0.3) url("../img/unsplash-523ae1f5502d6-1.png");
    background-size: cover;

    @media screen and (max-width: 1279px){
      min-width: 320px;
      max-width: 320px;
      height: 630px;
    }

    @media screen and (max-width: 1023px){
      min-width: 770px;
      max-width: 770px;
      height: 315px;
    }

    @media screen and (max-width: 799px){
      max-width: 770px;
      min-width: 100px;
      height: 315px;
    }

    &__item{
      margin: 116px 0 32px;

      @media screen and (max-width: 1023px){
        margin: 50px 0 10px;
      }
    }

    &__title{

    }

    &__description{
      color: #fefcfd;
      font-family: "Open Sans", sans-serif;
      font-size: 17px;
      padding: 110px 32px 0;

      @media screen and (max-width: 1023px){
        padding: 30px 0;
      }

      @media screen and (max-width: 799px) {
        padding: 15px 5px;
      }

    }
  }
}

.works{
  height: 1000px;
  background: rgb(181, 179, 215) url("../img/deathtostock-wired3.png") no-repeat;
  background-size: cover;
  text-align: center;

  @media screen and (max-width: 799px) {
    height: 550px;
  }

  &__icon{
    padding: 49px 0 36px;

    @media screen and (max-width: 799px) {
      padding: 20px 0 10px;
    }
  }
  &__title{
    color: #fefcfd;
    font-family: "Proxima Nova", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
  }

  &__button{
    width: 195px;
    height: 50px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-style: italic;
    margin-top: 49px;
  }

  &__slider{
    display: flex;
    align-items: center;
    justify-content: center;

    &__body{
      width: 730px;
      height: 546px;
      margin: 60px auto 46px;
      position: relative;
      top: 0;
      left: 0;
      right: 0;

      @media screen and (max-width: 1023px){
        width: 700px;
      }

      @media screen and (max-width: 799px){
        height: 187.5px;
        width: 250px;
        margin: 30px 0 20px;
      }
    }

    &__item{
      text-align: center;
      line-height: 300px;
      position: absolute;
      font-size: 50px;
      color: #fff;
      display: none;
      width: 730px;
      height: 546px;
      background-size: cover;

      @media screen and (max-width: 1023px){
        width: 700px;
        height: 525px;
      }

      @media screen and (max-width: 799px){
        width: 250px;
        height: 187.5px;
        display: block;
      }

      &.current{
        display: block;
      }

      &:first-child{
        background-image: url("../img/slide2.png");
      }

      &:nth-child(2){
        background-image: url("../img/campofr-o-home-a1-1800.png");
      }

      &:nth-child(3){
        background-image: url("../img/slide3.png");
      }

      &:nth-child(4){
        background-image: url("../img/slide4.png");
      }
    }

    &__indicators{
      display: flex;
      justify-content: center;
      &__item{
        width: 10px;
        height: 10px;
        border: 1px solid #fff;
        border-radius: 50%;
        margin: 0 4px;

        &.current{
          background-color: #fff;
        }
      }
    }

    &__prev{
      margin-left: 162px;
      cursor: pointer;

      @media screen and (max-width: 1279px){
        margin-left: 50px;
      }

      @media screen and (max-width: 1023px){
        margin-left: 10px;
      }

      @media screen and (max-width: 799px){
        position: relative;
        right: 5px;
      }
    }

    &__next{
      margin-right: 162px;
      cursor: pointer;

      @media screen and (max-width: 1279px){
        margin-right: 50px;
      }

      @media screen and (max-width: 1023px){
        margin-right: 10px;
      }

      @media screen and (max-width: 799px){
        position: relative;
        left: 5px;
      }
    }
  }
}

.team{
  background-color: #ebebeb;
  text-align: center;

  &__icon{
    padding: 54px 0 34px;

    @media screen and (max-width: 799px){
      padding: 20px 0 10px;
    }
  }

  &__title{
    color: #665f60;
    font-family: "Proxima Nova", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 38px;

    @media screen and (max-width: 799px){
      margin-bottom: 0;
    }
  }

  &__slider{
    align-items: center;
    margin: 0 112px 0 106px;

    @media screen and (max-width: 1279px){
      margin: 0 42px 0 36px;
    }

    @media screen and (max-width: 799px){
      margin: 0;
    }

    &__body{
      display: flex !important;
      align-items: center !important;
    }

    &__item{
      margin: 0 15px;
      position: relative;

      &__img{
        display: block;
        border: 10px solid #ebebed;
        border-radius: 50%;
        margin: 0 auto;
        z-index: 2;
        position: relative;
        top: 12px;

        @media screen and (max-width: 799px){
          width: 174px;
          top: 25px;
        }
      }

      &__description{
        max-width: 350px;
        height: 284px;
        background-color: #ffffff;
        text-align: center;
        z-index: 1;
        position: relative;
        top: -134px;
        margin: 0 auto;

        @media screen and (max-width: 799px){
          height: 250px;
          top: -90px;
        }
      }

      &__name{
        color: #9f9acf;
        font-family: "Proxima Nova", sans-serif;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 163px;

        @media screen and (max-width: 799px){
          padding-top: 120px;
        }
      }

      &__job{
        color: #665f60;
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        font-style: italic;
      }

      &__socmed-panel{
        max-width: 350px;
        height: 70px;
        background-color: #9f9acf;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -134px;
        margin: 0 auto;

        @media screen and (max-width: 799px){
          top: -90px;
        }
      }

      &__socserv{
        margin: 6px;
      }
    }
  }
}

.slick-arrow{
  margin: 56px;
  cursor: pointer;

  @media screen and (max-width: 1023px){
    margin: 10px;
  }

  @media screen and (max-width: 799px){
    margin: 5px;
  }
}

#map {
  width: 100%;
  height: 900px;
  background-color: grey;

  @media screen and (max-width: 1023px){
    height: 800px;
  }

  @media screen and (max-width: 799px){
    height: 764px;
  }
}

.contact{
  height: 900px;
  margin-top: -36px;

  @media screen and (max-width: 1023px){
    height: 800px;
  }

  @media screen and (max-width: 799px){
    height: 764px;
  }

  &__content{
    text-align: center;
    background: rgba(10,50,150,0.3);
    position: relative;
    top: -900px;
    height: 900px;
    overflow-y: hidden;

    @media screen and (max-width: 1023px){
      top: -800px;
      height: 800px;
    }

    @media screen and (max-width: 799px){
      top: -764px;
      height: 764px;
    }
  }

  &__icon{
    padding-top: 56px;

    @media screen and (max-width: 799px){
      padding-top: 20px;
    }
  }

  &__title{
    color: #ffffff;
    font-family: "Proxima Nova", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 205px;

    @media screen and (max-width: 1023px){
      margin-bottom: 105px;
    }

    @media screen and (max-width: 799px){
      margin-bottom: 30px;
    }
  }

  &__form{

    @media screen and (max-width: 799px){
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__input{
      width: 387px;
      height: 56px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      border: 0;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-style: italic;
      line-height: 18px;
      padding-left: 27px;
      margin: 16px;

      @media screen and (max-width: 1023px){
        width: 287px;
      }

      @media screen and (max-width: 799px){
        width: 85%;
      }

      &::placeholder{
        color: #ffffff;
      }
    }

    &__textarea{
      width: 836px;
      height: 200px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      border: 0;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-style: italic;
      line-height: 18px;
      padding-left: 27px;
      padding-top: 24px;
      margin: 11px;

      @media screen and (max-width: 1023px){
        width: 636px;
      }

      @media screen and (max-width: 799px){
        width: 85%;
      }

      &::placeholder{
        color: #ffffff;
      }
    }

    &__button{
      width: 293px;
      height: 70px;
      background-color: #9f9acf;
      color: #ffffff;
      font-family: "proxima_nova_ltsemibold", sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 26.19px;
      text-transform: uppercase;
      border-radius: 5px;
      border: 0;
      box-shadow: 0px 5px 0px -1px #8783b0;
      margin-top: 44px;
      margin-bottom: 54px;

      @media screen and (max-width: 799px){
        margin-top: 20px;
        margin-bottom: 31px;
      }
    }
  }

}

.footer{
  height: 185px;
  background-color: #9f9acf;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media screen and (max-width: 799px){
    flex-direction: column-reverse;
    height: 130px;
  }

  &__rights{
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.36px;

    @media screen and (max-width: 799px){
      font-size: 14px;
    }
  }

  &__icon-panel{

    &__item{
      margin: 10px;
    }
  }
}