@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');

@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('../fonts/proxima_nova_semibold/Mark Simonson - Proxima Nova Semibold-webfont.eot');
  src: url('../fonts/proxima_nova_semibold/Mark Simonson - Proxima Nova Semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima_nova_semibold/Mark Simonson - Proxima Nova Semibold-webfont.woff2') format('woff2'),
  url('../fonts/proxima_nova_semibold/Mark Simonson - Proxima Nova Semibold-webfont.ttf') format('truetype'),
  url('../fonts/proxima_nova_semibold/Mark Simonson - Proxima Nova Semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima Nova/Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
  src: url('../fonts/Proxima Nova/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Proxima Nova/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'),
  url('../fonts/Proxima Nova/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype'),
  url('../fonts/Proxima Nova/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 0;
}

.content-wrapper{
  width: 1600px;
}

.header{
  background: rgba(10,50,150,0.3)  url("../img/deathtostock-wired7.png");
  height: 1070px;
  &__top-panel{
    margin: 0 245px 0 245px;
    padding-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu{
    width: 570px;
    &__list{
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: space-between;
    }
    &__item{
      line-height: 18px;
      color: #ffffff;
      font-family: "Proxima Nova", sans-serif;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
    }
    &__link{
      text-decoration: none;
      color: inherit;
    }
  }
  &__title{
    text-align: center;
    &__main{
      color: #fefefb;
      font-family: "proxima_nova_ltsemibold", sans-serif;
      font-size: 72px;
      font-weight: 700;
      line-height: 60.22px;
      text-transform: uppercase;
      margin: 39px;
      margin-top: 298px;
    }
    &__add{
      color: #fefdfd;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 30px;
      font-style: italic;
      margin: 39px;
    }
  }
}